.env

screens/poker/raw_poker_data.json
screens/poker/poker_summary.json
screens/poker/poker_summary_test.json

# Strava secrets
screens/strava/keys_file.txt
screens/strava/key_expiration.txt

screens/sports/test.json
